# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/

# Static
staticfiles/

# Media
media/certificates/
media/certificate_bg/

# OS
.DS_Store
Thumbs.db
